<style>
 body {
        font-famiy: Arial ,
sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
}

header {
        background: #c0d1c0 ;
        colour: white; 
        padding: 20px;
        text-align: center;
}
 
nav a {
    color:white;
    margin: 0 10px;
    text-decoration: none;
}
article {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background: #eee;
}
</style>